<div ng-include src="'modules/core/views/header.html'"></div>
<div data-ride="carousel" class="carousel slide" id="myCarousel">
    <div role="listbox" class="carousel-inner">
        <div class="item active"> <img src="modules/core/images/banner.jpg" alt="Banner Image" title="Doctor Forum" />
            <div class="container">
              <div class="col-sm-5 pull-right">
                    <div ng-include src="'modules/core/views/search.html'"></div>
                </div>
            </div>
            <div class="shadow-spreater"></div>
        </div>
    </div>
</div>
<div class="google-map hide" id="inner-page-map">
    <div class="change-location">Please Choose Your Location - <a href="javascript:void(0)">Pune</a></div>
    <div class="close-map"><a id="close-map" href="javascript:void(0)">Close</a></div>
    <div class="map-section-shadow"></div>
    <iframe class="inner-iframe-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242118.0689479398!2d73.86296739999999!3d18.52461645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C+Maharashtra%2C+India!5e0!3m2!1sen!2s!4v1418710888923"></iframe>
</div>
<div class="container inner-cont">
    <div class="row">
        <div class="page-header">
            <h2>Contact US</h2>
            <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
        </div>
        <div class="col-sm-8 col-xs-12 top-buffer-15 bottom-buffer" data-ng-controller="ContactController" data-ng-submit="submitContact()">
            <form class="form-horizontal" role="form">
                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>{{success}}</strong>
                </div>
                <br/>
                <div class="form-group">
                    <label class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9"> <span class="user-icon"></span>
                        <input type="text" class="form-control" placeholder="First Name" ng-model="contact.first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9"> <span class="user-icon"></span>
                        <input type="text" class="form-control" placeholder="Last Name" ng-model="contact.last_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9"> <span class="email-id form-icon"></span>
                        <input type="email" class="form-control" placeholder="Email" ng-model="contact.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mobile</label>
                    <div class="col-sm-9"> <span class="phone-number form-icon"></span>
                        <input type="text" placeholder="Mobile" class="form-control" ng-model="contact.contact_no">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Message</label>
                    <div class="col-sm-9"> <span class="email-id form-icon"></span>
                        <textarea placeholder="Message" class="form-control" ng-model="contact.message"></textarea>
                    </div>
                </div>
                <!--<div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>-->
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4 col-xs-12 top-buffer-15 bottom-buffer">
            <iframe class="address-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4615615519147!2d73.78993400000003!3d18.508033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2be4cb2886fd1%3A0xb22e740567166b2b!2sCaprium+Technologies+India+Pvt.+Ltd.!5e0!3m2!1sen!2s!4v1418721676091"></iframe>
            <div class="address">
                <p><span class="area-icon"></span>Ishana-II 1st Floor, Bhusari Colony Paud Road, <br />
                    Opp Lohiya Jain IT Park, <br />
                    Kothrud, Pune 411038, India</p>
                <p><span class="phone-number"></span>8983-109-109</p>
                <p><span class="email-id"></span>info@Doctorforum.in</p>
            </div>
        </div>

    </div>
</div>
<div class="book-appointments text-center">
    <div class="container">
        <h1 class="text-uppercase">Doctors</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. </p>
        <a href="#!/dentistList/" class="btn btn-primary text-uppercase">Book Appointment</a>
    </div>
</div>

<div ng-include src="'modules/core/views/footer.html'"></div>
<script type="text/javascript">
    $("html, body").animate({ scrollTop: 0 }, "slow");
</script>
