<div id="loader-container">
    <div class="" id="opaco" style="background-color: rgb(0, 0, 0); left: 0px; opacity: 0.7; position: fixed; top: 0px; width: 100%; height: 100%; z-index: 9999;"></div>

    <div id="popup_box" style="position: fixed; height: 100%; width: 100%; z-index: 9999; overflow: auto;">
        <div data-widget="popupLoader" class="" id="popup_loader" style="position: absolute; z-index: 9999; top: 50%; left: 50%; margin-left: 0px; margin-top: 0px;" popup="true"><!--open popup-->
            <div class="loader inner_popup">
                <div class="popup_loader_img">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    setTimeout(function(){
        //$('#loader-container').hide();
    },3000);
</script>
