<div ng-include src="'modules/core/views/header.html'"></div>
<div data-ride="carousel" class="carousel slide" id="myCarousel">
    <div role="listbox" class="carousel-inner">
        <div class="item active"> <img src="modules/core/images/banner.jpg" alt="Banner Image" title="Doctor Forum" />
            <div class="container">
                <div class="col-sm-5 pull-right">
                    <div ng-include src="'modules/core/views/search.html'"></div>
                </div>
            </div>
            <div class="shadow-spreater"></div>
        </div>
    </div>
</div>

<div class="container inner-cont">
    <div class="row">
        <div class="page-header">
            <h2>About Doctor Forum</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="col-sm-6 col-xs-12 top-buffer-15 bottom-buffer">
            <div class="icon-cont pull-left">
                <div class="icon-bg"></div>
                <div class="history-icon"></div>
            </div>
            <div class="pull-left cont-description">
                <h3 class="text-dg-blue">Our History</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="clearfix"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-sm-6 col-xs-12 top-buffer-15 bottom-buffer">
            <div class="icon-cont pull-left">
                <div class="icon-bg"></div>
                <div class="mission-icon"></div>
            </div>
            <div class="pull-left cont-description">
                <h3 class="text-dg-blue">Our Mission</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="clearfix"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>
<div class="book-appointments text-center">
    <div class="container">
        <h1 class="text-uppercase">Doctors</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. </p>
        <a href="#!/dentistList/" class="btn btn-primary text-uppercase">Book Appointment</a>
    </div>
</div>
<div ng-include src="'modules/core/views/footer.html'"></div>
<script type="text/javascript">
    $("html, body").animate({scrollTop: 0}, "slow");
</script>
