<div ng-include src="'modules/dentists/views/layouts/header_files.html'"></div>
<div class="mainwrapper">
    <div ng-include src="'modules/dentists/views/layouts/header.html'"></div>
    <div ng-include src="'modules/dentists/views/layouts/leftmenu.html'"></div>
    <div class="rightpanel" data-ng-controller="BlogsController" ng-init="find('manage-blog','')">

        <ul class="breadcrumbs">
            <li><a href="dashboard.html"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
            <li>Manage Blog</li>
            <li class="right"><a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-tint"></i> Color
                Skins</a>
                <ul class="dropdown-menu pull-right skin-color">
                    <li><a href="default">Default</a></li>
                    <li><a href="navyblue">Navy Blue</a></li>
                    <li><a href="palegreen">Pale Green</a></li>
                    <li><a href="red">Red</a></li>
                    <li><a href="green">Green</a></li>
                    <li><a href="brown">Brown</a></li>
                </ul>
            </li>
        </ul>
        <div class="pageheader">
            <form method="post" class="searchbar" data-ng-submit="blogFilter()">
                <input type="text" name="keyword" data-ng-model="filterVal" placeholder="To search type and hit enter..."/>
                <input type="submit" class="hidden">
            </form>
            <div class="pageicon"><span class="iconfa-cog"></span></div>
            <div class="pagetitle">
                <h5>Blog Post Details</h5>

                <h1>Manage Blog</h1>
            </div>
        </div>
        <!--pageheader-->

        <div class="maincontent">
            <div class="maincontentinner">

                <!-- <h4 class="widgettitle">Table Using Colgroup</h4>-->
                <table class="table table-bordered responsive">
                    <colgroup>
                        <col class="con0" style="width:7%;"/>
                        <col class="con1" style="width:15%;"/>
                        <col class="con0" style="width:38%;"/>
                        <col class="con1" style="width:10%;"/>
                        <col class="con0" style="width:15%;"/>
                        <col class="con1" style="width:15%;"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="center">&nbsp;</th>
                        <th class="center">Sr. No</th>
                        <th>User Name</th>
                        <th>Blog Title</th>
                        <th class="center">Comments</th>
                        <th class="center">In - Publish</th>
                        <th class="center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="blog in blog_data">
                        <td class="center">&nbsp;</td>
                        <td class="center">{{$index+1}}</td>
                        <td><a href="javascript:void(0);">{{blog.first_name +' '+ blog.last_name}}</a></td>

                        <td><a href="javascript:void(0);" target="_blank">{{blog.title}}</a>
                            <!--<span class="label label-success">New</span>--></td>
                        <td class="center">{{blog.commentCnt}}</td>

                        <td class="center">{{blog.blogStatus}}</td>
                        <td class="center">
                            <a ng-show="(blog.blogStatus != 'Yes')" href="javascript:void(0);"
                               ng-click="publishStatus(blog.id, 'Approved', $index)" title="Apporve"><span
                                    class="iconfa-ok large-a-icon"></span></a>
                            <a ng-show="(blog.blogStatus == 'Yes')" href="javascript:void(0);" title="Apporve"><span
                                    class="iconfa-ok large-a-icon icon-clicked"></span></a>&nbsp;
                            <a ng-show="(blog.blogStatus == 'Yes')" href="javascript:void(0);"
                               ng-click="publishStatus(blog.id, 'Rejected', $index)" title="Reject"><span
                                    class="iconfa-remove large-a-icon"></span></a>
                            <a ng-show="(blog.blogStatus != 'Yes')" href="javascript:void(0);" title="Reject"><span
                                    class="iconfa-remove large-a-icon icon-clicked"></span></a>&nbsp;
                            <a href="#!/blogDetails/{{blog.id}}" title="Edit"><span
                                    class="iconfa-edit large-a-icon"></span></a> &nbsp;
                            <a href="javascript:void(0);" ng-click="publishStatus(blog.id, 'delete', $index)"
                               title="Delete"><span class="iconfa-trash large-a-icon"></span></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <!--Table end -->
			<!-- Pagination Section -->
			<div class="pagination-admin pull-right" ng-if="blog_data.length > 0">
				<ul class="pagination pull-right">
					<li ng-class="{disabled: currentPage == 1}"><a aria-label="Previous" href="javascript:void(0);" ng-click="prevPage('manage-blog','')"><span aria-hidden="true">«</span></a></li>
					<li ng-class="{active: n == currentPage}" ng-repeat="n in pagedItems" ng-click="setPage('manage-blog','')"><a href="javascript:void(0);" ng-bind="n">1<span class="sr-only">(current)</span></a></li>
					<li ng-class="{disabled: currentPage == pagedItems.length}"><a aria-label="Next" href="javascript:void(0);"  ng-click="nextPage('manage-blog','')"><span aria-hidden="true">»</span></a></li>
				</ul>
			</div>
			<!-- End -->
            </div>
            <!--maincontentinner-->
            <div ng-include src="'modules/dentists/views/layouts/footer.html'"></div>
            <!--footer-->
        </div>
        <!--maincontent-->

    </div>
    <!--rightpanel-->
</div>
