
<div ng-include src="'modules/core/views/header.html'"></div>
<script src="/modules/core/js/SpryAccordion.js" type="text/javascript"></script>
<div data-ride="carousel" class="carousel slide" id="myCarousel">
    <div role="listbox" class="carousel-inner">
        <div class="item active"> <img src="modules/core/images/banner.jpg" alt="Banner Image" title="doctor Forum" />
            <div class="container">
                <div class="col-sm-5 pull-right">
                    <div ng-include src="'modules/core/views/search.html'"></div>
                </div>
            </div>
            <div class="shadow-spreater"></div>
        </div>
    </div>
</div>
    <div class="container inner-cont">
        <div class="row">
            <div class="page-header">
                <h2>FAQ</h2>
               <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
            </div>
            <div class="col-xs-12 top-buffer-15 bottom-buffer">
                <div id="Accordion1" class="Accordion" tabindex="0">
                   <!-- <div class="AccordionPanel"  ng-if="$first">
                        <div class="AccordionPanelTab"> {{faq.question}}</div>
                        <div class="AccordionPanelContent">{{faq.answer}}</div>
                    </div>
                    <div class="AccordionPanel" ng-if="!$first">
                        <div class="AccordionPanelTab"> {{faq.question}}</div>
                        <div class="AccordionPanelContent">{{faq.answer}}</div>
                    </div >-->
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">What are the services do you offer to the doctor?</div>
                        <div class="AccordionPanelContent">
                            We have been assisting doctor and patients in Pune where they have minimized their efforts to get the doctors appointments as per the convenience of doctors and patients. We help doctor to generate the patients through our various marketing activities and campaigns.  These activities help doctors to have maximum footfall at their clinic locations. We provide them with the platform where they can run their own blog, they can share their knowledge, feedback, suggestions and product updates with the society.
                        </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">What are the services do you offer to the patients?</div>
                        <div class="AccordionPanelContent">
                            We assist patients to reach doctors who have been operating at the nearby vicinity of the patients. Geographic distance makes a huge difference in terms and time consumption. Hence we have various experts associated within Pune urban area. Patients can book the appointments online as per their convenience. Patients can save themselves from not becoming a victim of huge charges which can cause a financial burden upon them. Our various campaigns offer free check-up and the information about the required treatments at lowest possible cost with the best quality treatment by our panel doctors in Pune.
                        </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">May I book the appointment on Sunday too?</div>
                        <div class="AccordionPanelContent">
                            Yes, you may book the appointment on Sunday too; most of our panel doctors offer their services on Sunday also. Hence you do not need to take an extra leave from your work.
                        </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">Do you charge any amount to the patients for using your website?</div>
                        <div class="AccordionPanelContent">
                            No, we don’t charge a single Rupee for patients to use our website.
                        </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab"> Can I search an expert by his or her Degree?</div>
                        <div class="AccordionPanelContent">
                           Yes, you can search a doctor by his degree, by the location,by category, his or her specialty or numbers of experience in years. We have user friendly search option available for you at our homepage.
					    </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">Do you charge any amount to the patients for using your website?</div>
                        <div class="AccordionPanelContent">
                           No, we don’t charge a single Rupee for patients to use our website.
                        </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">Can I locate the doctor using my smart phone?</div>
                        <div class="AccordionPanelContent">
                            Yes, if your phone has internet connection and equipped with modern amenities, then you can search the doctor as per your requirements.
                        </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">May I get confirmation of my booked appointment?</div>
                        <div class="AccordionPanelContent">
                            Yes, you will be sent with a SMS which contains the doctor details and the fixtures of your appointment.
                        </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">Do you have a back-end team to support us in case of any technical difficulty?</div>
                        <div class="AccordionPanelContent">
                            Yes, we have our dedicated back-end team which will help you by the mean of phone, SMS, email and online chatting support.
                        </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">Am I allowed to put my query by email?</div>
                        <div class="AccordionPanelContent">
                            Yes, you may send your query to support@doctorhere.in or you may feel free to call us on 020-65602602.
                        </div>
                    </div>
                    <div class="AccordionPanel">
                        <div class="AccordionPanelTab">Will you keep my data confidential?</div>
                        <div class="AccordionPanelContent">
                            Sure, we are bound to keep your data confidential, it will be shared with doctor only, and we will not share it with marketing companies.
                        </div>
                    </div>

            </div >
            </div >

                </div>
            </div>
        </div>
    </div>
    <div class="book-appointments text-center">
        <div class="container">
            <h1 class="text-uppercase"><span>Doctors</span></h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. </p>
            <a href="#!/doctorList/" class="btn btn-primary text-uppercase">Book Appointment</a>
        </div>
    </div>
<div ng-include src="'modules/core/views/footer.html'"></div>
    <!--<div class="sub-footer">
        <div class="container">
            <p class="pull-left">Copyrights © 2014 doctor Forum.</p>
            <p class="pull-right">Powered By <a href="#">Caprium Technologies</a></p>
        </div>
    </div>-->
    <div id="login" class="reveal-modal">
        <h1>Login</h1>
        <div class="PopUpCont">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email ID</label>
                    <div class="col-sm-9"> <span class="user-icon"></span>
                        <input type="text" placeholder="Email ID / User Name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9"> <span class="password-icon form-icon"></span>
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">&nbsp;</label>
                    <div class="col-sm-9">
                        <a href="#">Forgot Password</a>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer"><a href="#">Register as a Patient </a> | <a href="#">Register as a doctor</a> </div>
        <a class="close-reveal-modal">&#215;</a> </div>
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</section>

<script type="text/javascript">
    $("html, body").animate({ scrollTop: 0 }, "slow");
</script>
