<div ng-include src="'modules/dentists/views/layouts/header_files.html'"></div>
<div class="mainwrapper">
    <div ng-include src="'modules/dentists/views/layouts/header.html'"></div>
    <div ng-include src="'modules/dentists/views/layouts/leftmenu.html'"></div>
    <div class="rightpanel">

		<ul class="breadcrumbs">
			<li><a href="#!/dashboard"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
			<li>Status</li>
			<li class="right">
				<a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-tint"></i> Color Skins</a>
				<ul class="dropdown-menu pull-right skin-color">
					<li><a href="default">Default</a></li>
					<li><a href="navyblue">Navy Blue</a></li>
					<li><a href="palegreen">Pale Green</a></li>
					<li><a href="red">Red</a></li>
					<li><a href="green">Green</a></li>
					<li><a href="brown">Brown</a></li>
				</ul>
			</li>
		</ul>

		<div class="pageheader">
		   <!--  <form method="post" class="searchbar" ng-submit="findAppointmentStatus()">
				<input type="text" name="keyword" placeholder="To search type and hit enter..." ng-model="search.val"/>
			</form> -->
			<div class="pageicon"><span class="iconfa-laptop"></span></div>
			<div class="pagetitle">
				<h5>All Status</h5>
				<h1>Status</h1>
			</div>
		</div></br><!--pageheader-->

		<div class="maincontent">
			<div class="maincontentinner">


				<!-- <h4 class="widgettitle">Table Using Colgroup</h4>-->
				<table class="table table-bordered responsive" data-ng-controller="DentistsController" ng-init="findDentistStatus()">
				<caption><h3><b>DOCTORS</b></h3></caption>
					<colgroup>
						<col class="con1" style="width:28%;"/>
						<col class="con0" style="width:28%;"/>
						<col class="con1" style="width:28%;"/>                 
					</colgroup>
					<thead>
					<tr>
						<th class="center">&nbsp;</th>
						<th class="center">Active</th>
						<th class="center">Inactive</th>
						<th class="center">Deleted</th>					
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="center">&nbsp;</td>
						<td class="center" ng-if = "dentist_status_active > 0"><a href="#!/dentists/status/Active">{{dentist_status_active}}</a></td>
						<td class="center" ng-if = "dentist_status_active == undefined">0</td>
						<td class="center" ng-if = "dentist_status_inactive > 0"><a href="#!/dentists/status/Inactive">{{dentist_status_inactive}}</a></td>
						<td class="center" ng-if = "dentist_status_inactive == undefined">0</td>
						<td class="center" ng-if = "dentist_status_deleted > 0"><a href="#!/dentists/status/deleted">{{dentist_status_deleted}}</a></td>
						<td class="center" ng-if = "dentist_status_deleted == undefined">0</td>					
					</tr>
					</tbody>
				</table><br><br><!--Table end -->
				
				<table class="table table-bordered responsive" data-ng-controller="ClinicsController" ng-init="findClinicStatus()">
				<caption><h3><b>CLINIC</b></h3></caption>
					<colgroup>
						<col class="con1" style="width:21%;"/>
						<col class="con0" style="width:21%;"/>
						<col class="con1" style="width:21%;"/>
						<col class="con0" style="width:21%;"/>
					</colgroup>
					<thead>
					<tr>
						<th class="center">&nbsp;</th>
						<th class="center">Pending</th>
						<th class="center">Approved</th>
						<th class="center">Deleted</th>
						<th class="center">Rejected</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="center">&nbsp;</td>
						<td class="center" ng-if = "clinic_status_pending > 0"><a href="#!/clinics/status/Pending">{{clinic_status_pending}}</a></td>
						<td class="center" ng-if = "clinic_status_pending == undefined">0</td>
						<td class="center" ng-if = "clinic_status_approved > 0"><a href="#!/clinics/status/Approved">{{clinic_status_approved}}</a></td>
						<td class="center" ng-if = "clinic_status_approved == undefined">0</td>
						<td class="center" ng-if = "clinic_status_deleted > 0"><a href="#!/clinics/status/Deleted">{{clinic_status_deleted}}</a></td>
						<td class="center" ng-if = "clinic_status_deleted == undefined">0</td>
						<td class="center" ng-if = "clinic_status_rejected > 0"><a href="#!/clinics/status/Rejected">{{clinic_status_rejected}}</a></td>
						<td class="center" ng-if = "clinic_status_rejected == undefined">0</td>
					</tr>
					</tbody>
				</table><!--Table end -->


				
			</div><!--maincontentinner-->
			<div ng-include src="'modules/dentists/views/layouts/footer.html'"></div>
		</div><!--maincontent-->

	</div><!--rightpanel-->
</div><!--mainwrapper-->
