<!--<!DOCTYPE html>

    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
  
    <body>
    <div ng-controller="dentistMapController" ng-init="initMap()">
    <div id="map-canvas"></div>
  </div>
    </body>-->
<style>
    .geo-map {
  width: 100%;
  height: 500px;
}
</style>
    
    <div class="" ng-controller="SearchDentistResultController">
      <div class="geo-map" hello-Maps1="" latitude="18.52043" longitude="73.85674" data-ng-click="setLatLong()"></div>
    </div>