<div ng-include src="'modules/core/views/header.html'"></div>
<section>
    <div class="google-map hide" id="inner-page-map">
        <div class="change-location">Please Choose Your Location - <a href="javascript:void(0)">Pune</a></div>
        <div class="close-map"><a id="close-map" href="javascript:void(0)">Close</a></div>
        <div class="map-section-shadow"></div>
        <iframe class="inner-iframe-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242118.0689479398!2d73.86296739999999!3d18.52461645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C+Maharashtra%2C+India!5e0!3m2!1sen!2s!4v1418710888923"></iframe>
    </div>
    <div class="container inner-cont ng-scope" >
        <div class="row">
            <div class="page-header">
			
               <!--  <h2>Change Password</h2> -->
            </div>
			<div class="text-center text-primary">
			                <h2><b>Change Password</b></h2>
            </div> 
            <div class="col-sm-8 col-xs-12 top-buffer-15 bottom-buffer" class="row" data-ng-controller="SettingsController">
                <form  name="userForm" class="form-horizontal"  ng-submit="changePassword()" novalidate>
 
                    <fieldset>
                        <div class="text-center text-danger" ng-if="message!=undefined">
                            <strong>  {{message}}</strong>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Old Password</label>
                            <div class="col-sm-9"> <span class="user-icon"></span>

                                <input type="password" class="form-control" ng-model="chpass.curPassword" placeholder="Old Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">New Password</label>
                            <div class="col-sm-9"> <span class="user-icon"></span>
                                <input type="password" class="form-control" ng-model="chpass.newPass" placeholder="New Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirm password</label>
                            <div class="col-sm-9"> <span class="user-icon"></span>
                                <input type="password" class="form-control" ng-model="chpass.cpass" placeholder="Confirm password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="col-sm-4 col-xs-12 top-buffer-15 bottom-buffer">
                <iframe class="address-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4615615519147!2d73.78993400000003!3d18.508033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2be4cb2886fd1%3A0xb22e740567166b2b!2sCaprium+Technologies+India+Pvt.+Ltd.!5e0!3m2!1sen!2s!4v1418721676091"></iframe>
                <div class="address">
                    <p><span class="area-icon"></span>Ishana-II 1st Floor, Bhusari Colony Paud Road, <br />
                        Opp Lohiya Jain IT Park, <br />
                        Kothrud, Pune 411038, India</p>
                    <p><span class="phone-number"></span>8983-109-109</p>
                    <p><span class="email-id"></span>info@doctorhere.in</p>
                </div>
            </div>

        </div>
    </div>
    <div class="book-appointments text-center">
        <div class="container">
            <h1 class="text-uppercase">Doctors</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. </p>
            <a href="#!/dentistList/" class="btn btn-primary text-uppercase">Book Appointment</a>
        </div>
    </div>

    <div ng-include src="'modules/core/views/footer.html'"></div>
</section>

